* {
	font-family: 'Ubuntu', sans-serif;
}

body {
	background-color: black;
	color: white;
};

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background: #3B3B3B; }

::-webkit-scrollbar-thumb { background: #777777; }

::-webkit-scrollbar-thumb:hover { background: #999999; }

a { color: white; }

a.nodecor:link { text-decoration: none; }

a.nodecor:visited { text-decoration: none; }

a.nodecor:hover { text-decoration: none; }

a.nodecor:active { text-decoration: none; }

.repodisplay { border-style: solid; border-color: "white"; padding: 10px; padding-left: 17px; padding-right: 17px; }

.blogpost { border-bottom-style: solid; border-color: white; padding: 10px; padding-left: unset; padding-right: 17px; };
